/* Light & clean scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #484545;
  
}

::-webkit-scrollbar-thumb {
  background: #979595;
  border-radius: 10px;
  transition: ease-in 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #7b7878;
}
